/* ! bla bla */


/* bug bla bla */


/* ?  bla bla bla*/


/* // bla bla */


/* * bla bla bla */


/* todo bla bla bla */

:root {
    --green-color: rgb(64, 235, 155);
}


/* ? Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* ? Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}


/* ? Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif;
    display: grid;
    background-color: rgb(15, 15, 15);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    zoom: 75%;
    background: url(/img/background.jpg) left top/cover no-repeat fixed;
}


/* ? changed scrollbar */

body::-webkit-scrollbar {
    /*? width of the entire scrollbar */
    width: 20px;
}

body::-webkit-scrollbar-track {
    /*? color of the tracking area */
    background: rgb(60, 60, 60);
}

body::-webkit-scrollbar-thumb {
    /*? color of the scroll thumb */
    background-color: rgb(20, 20, 20);
    /*? roundness of the scroll thumb */
    border-radius: 25px;
}


/*  ? background of scrollbar if hovered*/

body::-webkit-scrollbar-thumb:hover {
    /*? color of the scroll thumb */
    background: black;
}


/* ? background of scrollbar if clicked */

body::-webkit-scrollbar-thumb:active {
    background: linear-gradient( black 40%, rgb(48, 150, 102));
}


/* ? Set cursor to pointer, if hovering over an Image element*/

.testimonial img,
picture:hover {
    max-width: 100%;
    cursor: pointer;
}

.testimonial img:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}


/* ? Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* * flex */

.flex {
    display: flex;
}

.flexKenus {
    margin-top: -1.25rem;
    display: flex;
    float: right;
}

.flexKenus img {
    width: 15em;
    height: auto;
    border-radius: 2rem 0rem 0rem 2rem;
}

.flexD {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    justify-content: space-around;
}


/* ! Header: nav etc. */

header {
    font-family: "Work Sans";
    color: white;
    text-align: center;
    font-size: 40px;
}

.hobbyHeader {
    font-family: 'Baloo Bhaijaan 2';
    margin-left: 100px;
    margin-top: 2rem;
    margin-bottom: -80px;
    font-size: 50px;
    text-align: left;
    color: white;
}

.greeting {
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
    font-size: 50px;
    text-align: center;
    color: white;
}


/* ! About me: text, img etc. */

#aboutMeHr {
    margin-top: 5rem;
}

.aboutMe {
    float: right;
}

.aboutMe p {
    padding: 0.5rem;
    margin-left: 1rem;
    text-align: left;
    margin-right: 50rem;
    font-family: 'IBM Plex Serif', serif;
}


/* ! Main: About my Hobbies  */


/* // bug: music grid media bug  */


/* // todo: fix bug,
todo: Überarbeite grid und mache comments, classes, values etc. besser! */

.testimonial-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 70%;
    margin-top: 6.5rem;
    gap: 1rem;
    margin-inline: auto;
}

@media (max-width: 50em) {
    .testimonial img {
        aspect-ratio: 1;
        border-radius: 5rem;
    }
}

@media (min-width: 50em) {
    .testimonial-grid {
        zoom: 50%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
    .testimonial img {
        height: 400px;
        border-radius: 5rem;
    }
    .Z {
        grid-row-start: 1;
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .B {
        grid-row-start: 1;
        grid-column-start: 1;
    }
    .R {
        grid-row-start: 1;
        grid-column-start: 2;
    }
    .K {
        grid-row-start: 2;
        grid-column-start: 3;
    }
    .V {
        grid-row-start: 2;
        grid-column-start: 4;
    }
    .C {
        grid-row-start: 3;
        grid-column-start: 1;
    }
    .G {
        grid-row-start: 3;
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .M {
        grid-row-start: 2;
        grid-column-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .A {
        grid-row-start: 3;
        grid-column-start: 2;
    }
    .B img,
    .R img,
    .K img,
    .V img,
    .C img,
    .A img {
        aspect-ratio: 1.3;
    }
    .Z img,
    .G img,
    .M img {
        aspect-ratio: 3.05;
    }
}

.testimonial {
    margin-top: -15px;
    padding: 1px;
}

.testimonial img {
    height: 500px;
    border-radius: 5rem;
}

.testimonial .name {
    color: var(--green-color);
    text-align: center;
    font-size: 70px;
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.testimonial a:hover {
    cursor: pointer;
    line-height: 0;
    font-size: 90px;
}


/* ! Section: Description of Hobbies */


/* // todo: Make transition if header/text is clicked */


/* // todo: blur the border and make it transparent */

.DHead {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    color: var(--green-color);
    cursor: pointer;
}

.headingD {
    padding: 0.17em;
    font-size: 60px;
    text-align: center;
    color: white;
    font-family: 'Work Sans';
}

.headingH6 {
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Work Sans';
    margin: 1em;
}

.headingInfo {
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Work Sans';
    margin-top: -1em;
}

.WIP {
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: italic;
}

section {
    margin-top: 100px;
    color: white;
    font-size: 35px;
    text-align: left;
}

section p {
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    padding: 10px 50px 25px 50px;
    display: none;
}

.pBorder {
    box-shadow: 0px 0px 20px 1px var(--green-color);
    border-radius: 35px;
    margin: 0px 20px 60px 20px;
}

.edz-link {
    text-decoration: underline var(--green-color);
}


/* ! Aside: Dark/White Mode Switch */


/* ? Js open/close class */


/* // ? Javascript "open" "close" classes */


/* // bug: fix that images get inverted */


/* // todo: fix bug */


/* // todo: make the space between buttons weg */

.buttonSwitch {
    filter: invert(100%);
}

.btnModeSwitch button p {
    font-size: 1.5rem;
}

.btnModeSwitch button {
    margin: 10px;
    margin-bottom: 20px;
    background: transparent;
    color: rgb(64, 235, 155);
    border: 5px solid rgb(100, 100, 100);
    border-radius: 10px;
}

.btnModeSwitch button:hover {
    cursor: pointer;
}


/* ! General */

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

hr {
    width: 100%;
    height: 5px;
    color: white;
    background-color: white;
}

::selection {
    background: rgba(4, 126, 69, 0.644);
}